body {
  font-size: 1.3em;
}
/* All items in the nav section */
nav div {
  width: 190px;
  line-height: 70px;
  text-align: center;
  float: left; 
}

nav {
  overflow: auto;
}

#logo {
  width: 200px;
  height: 70px;
  background: lightgray;
  line-height: 70px;
  text-align: center;
  border: 1px solid darkgray;
}

main {
  width: 960px;
}

/* Hero Image */
main section:nth-child(1) {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 960px;
  height: 450px;
  text-align: center;
  line-height: 450px;
  background: lightgray;
  border: 1px solid darkgray;
}

/* All 3 Sub Banners */
main section:nth-child(n+2):nth-child(-n+4) {
  width: 300px;
  height: 375px;
  float: left;
  text-align: center;
  line-height: 375px;
  background: lightgray;
  border: 1px solid darkgray;
  box-sizing: border-box;
  margin-bottom: 30px;
}
/* Middle Sub Banner */
main section:nth-child(3) {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* Featured Section Banner */
main section:nth-child(5) {
  width: 480px;
  height: 375px;
  text-align: center;
  line-height: 375px;
  background: lightgray;
  border: 1px solid darkgray;
  overflow: auto;
  margin-right: 30px;
  display: inline-block;
}

main section:nth-child(6) {
  width: 440px;
  height: 375px;
  font-size: 10px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Featured Section Heading first line */
main section:nth-child(6) p:nth-child(1) {
  font-size: 2.2em;
  margin-bottom: 20px;
}
/* Featured Section Heading lorem ipsum */
main section:nth-child(6) p:nth-child(2) {
  font-size: 1.9em;
  margin-bottom: 5px;
}
/* Call To Action */
main section:nth-child(6) input {
  width: 65%;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  transition: background-color 350ms ease;
  background-color: lightgray;
  font-size: 2em;
}

main section:nth-child(6) input:hover {
  background-color: white;
}

footer {
  width: 960px;
  height: 187px;
  background: lightgray;
  border: 1px solid darkgray;
  margin-top: 30px;
}